.cover__subtitle {
  position: relative;
  max-width: 382px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  margin-bottom: 48px;
}


@media screen and (max-width: 1024px){
  .cover__subtitle{
    max-width: 415px;
    font-size: 18px;
    line-height: 26px;
  }
}


@media screen and (max-width: 768px){
  .cover__subtitle{
      max-width: 382px;
      font-size: 18px;
      line-height: 26px;
  }
}

@media screen and (max-width: 375px){
  .cover__subtitle{
      max-width: 270px;
      font-size: 14px;
      line-height: 17px;
  }
}

@media screen and (max-width: 320px){
  .cover__subtitle{
      max-width: 288px;
      font-size: 14px;
      line-height: 17px;
  }
}