.video__duration {
    margin:0;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
    top: 165px;
    left: 30px;
    font-weight: normal;
    font-style: normal;
    padding-top: 165px;
    padding-left: 30px;
}

@media screen and (max-width: 1024px){
    .video__duration{
        max-width: 44px;
        font-size: 0.7rem;
        margin-top: auto;
        padding-top: 0;
    }
}

@media screen and (max-width: 768px){
    .video__duration{
        max-width: 46px;
        padding-bottom: 8px;
        margin-top: auto;
        padding-top: 0;
    }
}

@media screen and (max-width: 375px){
    .video__duration{
        max-width: 44px;
        font-size: 12px;
        line-height: 13px;
        padding-left: 24px;
    }
}

@media screen and (max-width: 320px){
    .video__duration{
        font-size: 12px;
        line-height: 13px;
        padding-left: 16px;
    }
}