@import url('../comment/__author/comment__author.css');
@import url('../comment/__image/comment__image.css');
@import url('../comment/__quote/comment__quote.css');

.comment{
    max-width: 382px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1024px){
    .comment{
        max-width: 928px;
    }
}

@media screen and (max-width: 768px){
    .comment{
        max-width: 382px;
        align-items: center;
        padding-bottom: 47px;
    }
}

@media screen and (max-width: 375px){
    .comment{
        padding-bottom: 47px;
    }
}

@media screen and (max-width: 320px){
    .comment{
    padding-bottom: 47px;
    }
}